// Accent color
$color-accent :             #528DFF;


// Grayscale colors
$color-white :              #ffffff;
$color-gray50  :            #f2f2f2;
$color-gray100 :            #e4e4e4;
$color-gray150 :            #d7d7d7;
$color-gray200 :            #c9c9c9;
$color-gray250 :            #bcbcbc;
$color-gray300 :            #aeaeae;
$color-gray350 :            #a1a1a1;
$color-gray400 :            #949494;
$color-gray450 :            #868686;
$color-gray500 :            #797979;
$color-gray550 :            #6b6b6b;
$color-gray600 : 	          #5e5e5e;
$color-gray650 :            #515151;
$color-gray700 :            #434343;
$color-gray750 :            #363636;
$color-gray800 :            #282828;
$color-gray850 :            #1b1b1b;
$color-gray900 :            #0d0d0d;
$color-gray950 :            #0b0b0b;
$color-black :              #000000;


// Red
$color-red-very-light :     #dea9a9;
$color-red-light :          #c66969;
$color-red :                #ad2828;
$color-red-dark :           #791c1c;
$color-red-very-dark :      #451010;

// Green
$color-green-very-light :   #b5deaf;
$color-green-light :        #7ec674;
$color-green :              #46ad38;
$color-green-dark :         #317927;
$color-green-very-dark :    #1c4516;

// Blue
$color-blue-very-light :    #90a1da;
$color-blue-light :         #637bcb;
$color-blue :               #2043b4;
$color-blue-dark :          #162f7e;
$color-blue-very-dark :     #0d1b48;

// Yellow
$color-yellow-very-light :  #faf7d2;
$color-yellow-light :       #f3ec90;
$color-yellow :             #e6d820;
$color-yellow-dark :        #a19716;
$color-yellow-very-dark :   #45410a;

// Orange
$color-orange-very-light :  #f5d89e;
$color-orange-light :       #ffc966;
$color-orange :             #ffad16;
$color-orange-dark :        #b17a14;
$color-orange-very-dark :   #754e00;

// Purple
$color-purple-very-light :  #cbbeea;
$color-purple-light :       #8566cd;
$color-purple :             #5125b8;
$color-purple-dark :        #391a81;
$color-purple-very-dark :   #200f4a;

// Pink
$color-pink-very-light :    #eec2ee;
$color-pink-light :         #d872d8;
$color-pink :               #c735c7;
$color-pink-dark :          #8b258b;
$color-pink-very-dark :     #501550;