@font-face {
  font-family: 'Product Regular';
  src: local('Product Regular'), url('@/fonts/ProductSans-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Product Italic';
  src: local('Product Italic'), url('@/fonts/ProductSans-Italic.woff') format('woff');
}


@font-face {
  font-family: 'Product Thin Regular';
  src: local('Product Thin Regular'), url('@/fonts/ProductSans-Thin.woff') format('woff');
}


@font-face {
  font-family: 'Product Light Regular';
  src: local('Product Light Regular'), url('@/fonts/ProductSans-Light.woff') format('woff');
}


@font-face {
  font-family: 'Product Medium';
  src: local('Product Medium'), url('@/fonts/ProductSans-Medium.woff') format('woff');
}


@font-face {
  font-family: 'Product Black Regular';
  src: local('Product Black Regular'), url('@/fonts/ProductSans-Black.woff') format('woff');
}


@font-face {
  font-family: 'Product Thin Italic';
  src: local('Product Thin Italic'), url('@/fonts/ProductSans-ThinItalic.woff') format('woff');
}


@font-face {
  font-family: 'Product Light Italic';
  src: local('Product Light Italic'), url('@/fonts/ProductSans-LightItalic.woff') format('woff');
}


@font-face {
  font-family: 'Product Medium Italic';
  src: local('Product Medium Italic'), url('@/fonts/ProductSans-MediumItalic.woff') format('woff');
}


@font-face {
  font-family: 'Product Bold';
  src: local('Product Bold'), url('@/fonts/ProductSans-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Product Bold Italic'; 
  src: local('Product Bold Italic'), url('@/fonts/ProductSans-BoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'Product Black Italic';
  src: local('Product Black Italic'), url('@/fonts/ProductSans-BlackItalic.woff') format('woff');
}