@use "../../abstract/colors" as *;

.BackgroundRain{
  background: url('../static/graphics/images/BackgroundRain.png') center center repeat;
  background-size: 1200px;
  image-rendering: crisp-edges;
  animation: BackgroundRainAnim 5s infinite linear;
}

.inputBoxFrame {
  background-color: inherit;
  border: 2px solid $color-accent;
  border-radius: 6px;
  position: relative;
  margin-bottom: 12px;
  height: 47px;

  transition: 0.2s;

  .title {
    font-family: "Product Light Regular";
    color: $color-accent;
    font-size: 14px;
    background-color: inherit;
    position: absolute;
    width:fit-content;
    padding-left: 4px;
    padding-right: 4px;
    top: -8px;
    left: 6px;
    pointer-events: none;
  }

  .inputBox{
    margin-left: 6px;
    font-family: "Product Regular";
    color: $color-gray550;
    background: none;
    border: none;
    position:absolute;
    height: 100%;
  }
  ::placeholder{
    color: $color-gray250;
    font-family: "Product Light Regular";
    font-size:medium;
    pointer-events: none;
  }

  .infoMessage {
    position: relative;
    top: 100%;
    color: inherit;
    font-family: "Product Light Regular";
    display: flex;
    transition: 0.5s;

    #decal {
      height: 14px;
      margin: 5px;
    }
  
    #text {
      color: transparent;
      height: 100%;
      font-size: 15px;
      align-self: center;
    }
  
    .error{
      filter: brightness(0) saturate(100%) invert(39%) sepia(100%) saturate(7500%) hue-rotate(354deg) brightness(98%) contrast(117%);
      color: #ff0700 !important;
    }
  
    .warning{
      filter: brightness(0) saturate(100%) brightness(0) saturate(100%) invert(72%) sepia(90%) saturate(2945%) hue-rotate(1deg) brightness(105%) contrast(103%);
      color: #ffbb00 !important;
    }
  
    .success{
      filter: brightness(0) saturate(100%) brightness(0) saturate(100%) invert(53%) sepia(84%) saturate(698%) hue-rotate(68deg) brightness(112%) contrast(124%);
      color: #2ee700 !important;
    }
  }  
}

.active {
  color: $color-gray450;
  margin-bottom: 27px;
}

@keyframes BackgroundRainAnim {
  from {
    background-position-x: 0px;
    background-position-y: 0px;
  }
  to {
    background-position-x: 1200px;
    background-position-y: 1200px;
  }
}