@use "../../abstract/colors" as *;

.BackgroundRain{
  background: url('../static/graphics/images/BackgroundRain.png') center center repeat;
  background-size: 1200px;
  image-rendering: crisp-edges;
  animation: BackgroundRainAnim 5s infinite linear;
}

.BackgroundMaze{
  width: inherit;
  background: url('../static/graphics/svg/maze.svg') center center repeat;
  background-size: 875px;
  background-position: 847px 629px;
  border-radius: inherit;
  animation: dropShadowAnim 1s alternate infinite ease;
}

.inputBoxFrame {
  background-color: inherit;
  border: 2px solid $color-accent;
  border-radius: 6px;
  position: relative;
  margin-bottom: 12px;
  height: 47px;

  transition: 0.2s;

  .title {
    font-family: "Product Light Regular";
    color: $color-accent;
    font-size: 14px;
    background-color: inherit;
    position: absolute;
    width:fit-content;
    padding-left: 4px;
    padding-right: 4px;
    top: -8px;
    left: 6px;
    pointer-events: none;
  }

  .inputBox{
    margin-left: 6px;
    font-family: "Product Regular";
    color: $color-gray550;
    background: none;
    border: none;
    position:absolute;
    height: 100%;
  }
  ::placeholder{
    color: $color-gray250;
    font-family: "Product Light Regular";
    font-size:medium;
    pointer-events: none;
  }

  .infoMessage {
    position: relative;
    top: 100%;
    color: inherit;
    font-family: "Product Light Regular";
    display: flex;
    transition: 0.5s;
    pointer-events: none;

    #decal {
      height: 14px;
      margin: 5px;
    }
  
    #text {
      color: transparent;
      height: 100%;
      font-size: 15px;
      align-self: center;
    }
  
    .error{
      filter: brightness(0) saturate(100%) invert(39%) sepia(100%) saturate(7500%) hue-rotate(354deg) brightness(98%) contrast(117%);
      color: #ff0700 !important;
    }
  
    .warning{
      filter: brightness(0) saturate(100%) brightness(0) saturate(100%) invert(72%) sepia(90%) saturate(2945%) hue-rotate(1deg) brightness(105%) contrast(103%);
      color: #ffbb00 !important;
    }
  
    .success{
      filter: brightness(0) saturate(100%) brightness(0) saturate(100%) invert(53%) sepia(84%) saturate(698%) hue-rotate(68deg) brightness(112%) contrast(124%);
      color: #2ee700 !important;
    }
  }  
}

.active {
  color: $color-gray450;
  margin-bottom: 27px;
}

.btn {
  border: none;
  border-radius: 10px;
  background: $color-accent;

  font-family: "Product Regular";
  color: white;
  font-size: 17px;
  
  width: 112px;
  height: 40px;

  margin: 8px;
  transition: 0.05s;
  cursor: pointer;
}

.btn:hover{
  box-shadow: 0px 0px 6px 0px $color-accent;
  transition: 0.05s;
  font-size: 18px;
}

.btn-invert{
  background: inherit;
  color: $color-accent;
  font-family: "Product Regular";
  border: 2px solid $color-accent;
}

.btn-invert:hover{
  box-shadow: 0px 0px 6px 0px $color-accent;
  transition: 0.05s;
}

.btn-danger{
  background: $color-red;
  font-family: "Product Medium";
}

.btn-danger-invert{
  background: inherit;
  color: $color-red;
  font-family: "Product Medium";
  border: 2px solid $color-red;
}

.checkBoxFrame{
  width: 80%;
  margin-inline: auto;
  margin-bottom: 6px;
  margin-top: 2px;
  display: flex;
  cursor: pointer;

  .circle{
    background: inherit;
    width: 14px;
    height: 14px;
    aspect-ratio: 1;
    border-radius: 100vh;
    margin-right: 5px;
    margin-top: 2px;

    border: 3px solid $color-accent;
  }

  .enabled{
    background: #2761d6;
  }

  .text{
    font-family: "Product Regular";
    font-size: 14px;
    color: $color-gray550;
  }
}

@keyframes BackgroundRainAnim {
  from {
    background-position-x: 0px;
    background-position-y: 0px;
  }
  to {
    background-position-x: 1200px;
    background-position-y: 1200px;
  }
}

@keyframes dropShadowAnim {
  from {
    filter: drop-shadow(0px 0px 6px #2761d6);
  }
  to {
    filter: drop-shadow(0px 0px 12px #2761d6);
  }
}